 <!--'manager', 'HQ','accountant'-->
            <!--    {% if session.user_role in ['developer','manager', 'HQ','accountant'] %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('transaction_history') }}">
                        <i class="fas fa-history"></i>
                        <span>Transaction History</span>
                    </a>
                </li>
                {% endif %}-->

          <!--      {% if session.user_role in ['manager', 'HQ','chef','developer'] %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('recipes') }}">
                        <i class="fas fa-utensils"></i>
                        <span>Recipes</span>
                    </a>
                </li>
                {% endif %}-->


                <!-- {% if session.user_role in ['marketing', 'HQ','developer'] %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('marketing_interface') }}">
                        <i class="fas fa-qrcode"></i>
                        <span>Qr Code Generator</span>
                    </a>
                </li>
                {% endif %}-->


            <!--    {% if session.user_role in ['chef', 'HQ','developer'] %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('chef_interface') }}">
                        <i class="fas fa-utensils"></i>
                        <span>Chef Interface</span>
                    </a>
                </li>
                {% endif %}-->
